In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error
import joblib
import pickle

In [44]:
data = pd.read_csv("train_Houseprice_prediction_Preprocessed.csv")

In [45]:
data.head()

,POSTED_BY_Builder,POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_BHK,BHK_OR_RK_RK,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),BHK_NO
0,0,0,1,1,0,0,0,2,1300.236407,1,1,12.969910,77.597960,55.0,2
1,0,1,0,1,0,0,0,2,1275.000000,1,1,12.274538,76.644605,51.0,2
2,0,0,1,1,0,0,0,2,933.159722,1,1,12.778033,77.632191,43.0,2
3,0,0,1,1,0,0,1,2,929.921143,1,1,28.642300,77.344500,62.5,2
4,0,1,0,1,0,1,0,2,999.009247,0,1,22.592200,88.484911,60.5,2

In [66]:
X = data.drop(columns= ["TARGET(PRICE_IN_LACS)","POSTED_BY_Builder", "POSTED_BY_Dealer", "POSTED_BY_Owner", "BHK_NO.","RERA", "BHK_OR_RK_BHK", "BHK_OR_RK_RK","UNDER_CONSTRUCTION" ])

In [67]:
y = data["TARGET(PRICE_IN_LACS)"]

In [68]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3)

In [69]:
train_y

28640     78.0
7152     390.0
27776     60.0
22826    270.0
2271      35.0
         ...
10799     60.0
4400      17.3
19796    240.0
18412     62.0
529       94.0
Name: TARGET(PRICE_IN_LACS), Length: 20615, dtype: float64

In [70]:
train_X.shape

(20615, 6)

In [71]:
train_X.head()

         SQUARE_FT  READY_TO_MOVE  RESALE  LONGITUDE   LATITUDE  BHK_NO
28640   647.034425              1       1  18.518797  73.933947       1
7152   8360.128617              0       1  30.735280  76.791110       5
27776   990.099010              1       1  28.638934  77.326457       2
22826  3375.000000              1       0  28.415742  77.028867       5
2271   1149.802891              1       1  22.318485  73.162544       2

In [72]:
test_X.shape

(8836, 6)

In [73]:
model = LinearRegression()
model.fit(train_X, train_y)

LinearRegression()

In [74]:
train_pred = model.predict(train_X)
test_pred = model.predict(test_X)

In [75]:
print("Train MAE = ", mean_absolute_error(train_y, train_pred))
print("Test MAE = ", mean_absolute_error(test_y, test_pred))

Train MAE =  138.69588506778723
Test MAE =  139.5147385581851

In [76]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [77]:
lmodel = joblib.load('model.pkl')

In [79]:
 lmodel.predict([[543,1,1,18,75, 1]])

array([8.11957984])

In [80]:
train_X.columns

Index(['SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'LONGITUDE', 'LATITUDE',
       'BHK_NO'],
      dtype='object')