In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error
import joblib
import pickle

In [22]:
data = pd.read_csv("train_Houseprice_prediction_Preprocessed.csv")

In [23]:
data.head()

,POSTED_BY_Builder,POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_BHK,BHK_OR_RK_RK,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),BHK_NO
0,0,0,1,1,0,0,0,2,1300.236407,1,1,12.969910,77.597960,55.0,2
1,0,1,0,1,0,0,0,2,1275.000000,1,1,12.274538,76.644605,51.0,2
2,0,0,1,1,0,0,0,2,933.159722,1,1,12.778033,77.632191,43.0,2
3,0,0,1,1,0,0,1,2,929.921143,1,1,28.642300,77.344500,62.5,2
4,0,1,0,1,0,1,0,2,999.009247,0,1,22.592200,88.484911,60.5,2

In [25]:
X = data.drop(columns= ["TARGET(PRICE_IN_LACS)","BHK_NO.","RESALE", "BHK_OR_RK_BHK", "BHK_OR_RK_RK","UNDER_CONSTRUCTION" ])

In [28]:
y = data["TARGET(PRICE_IN_LACS)"]

In [29]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3)

In [7]:
train_y

0        55.0
1        51.0
2        43.0
3        62.5
4        60.5
         ...
29446    45.0
29447    16.0
29448    27.1
29449    67.0
29450    27.8
Name: TARGET(PRICE_IN_LACS), Length: 29451, dtype: float64

In [30]:
train_X.shape

(20615, 9)

In [39]:
train_X.head()

,POSTED_BY_Builder,POSTED_BY_Dealer,POSTED_BY_Owner,RERA,SQUARE_FT,READY_TO_MOVE,LONGITUDE,LATITUDE,BHK_NO
23565,1,0,0,1,565.130261,0,16.897246,73.382029,1
24305,0,1,0,1,649.059982,1,30.662283,76.822397,1
2002,0,0,1,0,719.844358,1,22.294094,73.233686,2
5223,0,1,0,0,1135.066582,1,28.568096,77.390253,2
7833,0,1,0,1,1188.235294,0,26.850391,75.814198,2

In [31]:
test_X.shape

(8836, 9)

In [32]:
model = LinearRegression()
model.fit(train_X, train_y)

LinearRegression()

In [33]:
train_pred = model.predict(train_X)
test_pred = model.predict(test_X)

In [34]:
print("Train MAE = ", mean_absolute_error(train_y, train_pred))
print("Test MAE = ", mean_absolute_error(test_y, test_pred))

Train MAE =  128.00916189233686
Test MAE =  136.56840187437112

In [35]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [36]:
lmodel = joblib.load('model.pkl')

In [42]:
lmodel.predict([[1,0,1,1,570,0,17.5,43,2]])

array([223.74743325])

In [20]:
train_X.columns

Index(['POSTED_BY_Builder', 'POSTED_BY_Dealer', 'POSTED_BY_Owner', 'RERA',
       'SQUARE_FT', 'READY_TO_MOVE', 'LONGITUDE', 'LATITUDE', 'BHK_NO'],
      dtype='object')